@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2 {
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.logo {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 50px;
}

.content h1 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 70px;
}

.content p {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 35px;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fffab8;
  color: #333;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.navbar a {
  color: #997510b0;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #997510b0 2px solid;
}

.navbar ul {
  display: flex;
}