/* Text Colors */

.text-primary {
  color: #997510b0;

}

/* Buttons */

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background: #f4d278b0;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

/* Flex Items */

.flex-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}